:root 
{
    --color_principal: rgb(153, 13, 55);
    --color_secundario: yellowgreen;
    --color_terciario: rgb(190, 255, 70);
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

  body 
  {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    display: grid;
    place-items: center;
    margin-top: 0px;
}

 
.header_principal
{
    height: 80px;
    width: 100%;
    color: rgb(255, 255, 255);
    display: grid;
    place-items: center;
    background-color: var(--color_principal);
}

.header
{
    height: 40px;
    width: 300px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-family: quicksand;
    font-size: 2rem;
    border: none;
    margin-bottom: 20px;
    margin-top: 10px;
}

.grupo
{
    border-radius: 70%;
    display: grid;
    place-items: center;
    text-decoration: none;
    color: black;
}

.grupo:hover
{
    cursor: pointer;
    background-color: papayawhip;
}

.grupoA 
{
    border-radius: 70%;
    background-color: var(--color_principal);
    display: grid;
    place-items: center;
    font-weight: bold;
    color: white;
}

.cuerpo_principal
{
    width: 100%;
    height: 200px;
    display: grid;
    place-items: center;
    margin:0px;
}

.fixture
{
    width: 300px;
    height: 200px;
    display: grid;
    grid-template-columns: 70px 50px 30px 30px 50px 70px ;
    grid-template-rows: 30px 30px 30px 30px 30px 30px ;
}

.tabla
{
    width: 300px;
    height: 160px;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr;
    grid-template-rows: 0.6fr 1fr 1fr 1fr 1fr;
}

.titulo_tabla
{
    display: grid;
    place-items: center;
    border: solid 0.5px white;
    color: white;
}

.cajas_tabla
{
    background-color: white;
    border: solid 0.5px grey;
    text-align: center;
    text-justify: center;
    padding-top: 5px;
}

.posicion
{
    background-color: var(--color_principal);
}

.pais
{
    background-color: var(--color_principal);
}

.puntos
{
    background-color: var(--color_principal);
}

.dif
{
    background-color: var(--color_principal);
}

.div_cajas
{
    display: grid;
    place-items: center;
    background-color: white;
}

.boton_goles 
{
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 15px;
}

.bandera
{
    width: 50px;
    height: 28px;
    object-fit:contain;
}

.nombre_pais
{
    font-size: 10px;
}


.login-button
{
    background-color:var(--color_principal);
    opacity: 80%;
    border-radius: 8px;
    border: none;
    color: white;
    width: 180px;
    height: 20px;
    cursor: pointer;
    font-size:0.8rem;
    margin-top: 10px;
}

.volver-menu
{
    background-color:rgb(44, 202, 155);
    border-radius: 8px;
    border: none;
    color: white;
    width: 180px;
    height: 20px;
    cursor: pointer;
    font-size:0.8rem;
    margin-top: 10px;
    
    color: white;
}

.volver-menu:hover
{
    background-color:rgb(6, 78, 63);
    color: yellow;
}



.login-button:hover
{
    background-color:var(--color_principal);
    color: yellow;
    opacity: 100%;
    border-radius: 8px;
    border: none;
    width: 180px;
    height: 20px;
    cursor: pointer;
    font-size:0.8rem;
    margin-top: 10px;
}
