:root 
{
    --color_principal: rgb(153, 13, 55);
    --color_secundario: yellowgreen;
    --color_terciario: rgb(190, 255, 70);
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

  body 
  {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    display: grid;
    place-items: center;
    margin-top: 0px;
}

 
.header_principal
{
    height: 80px;
    width: 100%;
    color: rgb(255, 255, 255);
    display: grid;
    place-items: center;
    background-color: var(--color_principal);
}

.header
{
    height: 40px;
    width: 100%;
    display: grid;
    place-items: center;
    font-family: quicksand;
    font-size: 2rem;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cuerpo_principal
{
    width: 100%;
    height: 200px;
    display: grid;
    place-items: center;
}

.fixture
{
    width: 300px;
    height: 200px;
    display: grid;
    grid-template-columns: 70px 50px 30px 30px 50px 70px ;
    grid-template-rows: 30px 30px 30px 30px 30px 30px ;
}

.tabla
{
    width: 300px;
    height: 160px;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr;
    grid-template-rows: 0.6fr 1fr 1fr 1fr 1fr;
}

.titulo_tabla
{
    display: grid;
    place-items: center;
    border: solid 0.5px white;
    color: white;
}

.posicion
{
    background-color: var(--color_principal);
}

.pais
{
    background-color: var(--color_principal);
}

.puntos
{
    background-color: var(--color_principal);
}

.dif
{
    background-color: var(--color_principal);
}

.div_cajas
{
    display: grid;
    place-items: center;
    background-color: white;
}

.boton_goles 
{
    width: 20px;
    height: 20px;
}

.bandera
{
    width: 50px;
    height: 28px;
    object-fit:contain;
}

.nombre_pais
{
    font-size: 10px;
}

.dif4
{
    background-color: yellowgreen;
}

/* .div1
{
    background-color: greenyellow;
}

.div2
{
    background-color: rgb(236, 150, 22);
    display: grid;
    place-items: center;
} */



/* .div3
{
    background-color: rgb(231, 60, 154);
}

.div4
{
    background-color: greenyellow;
}

.div5
{
    background-color: rgb(236, 150, 22);
}

.div6
{
    background-color: rgb(92, 4, 52);
}

.div7
{
    background-color: rgb(224, 235, 208);
}

.div8
{
    background-color: rgb(236, 150, 22);
}

.div9
{
    background-color: rgb(231, 60, 154);
}

.div10
{
    background-color: greenyellow;
}

.div11
{
    background-color: rgb(236, 150, 22);
}

.div12
{
    background-color: rgb(169, 172, 33);
}

.div13
{
    background-color: greenyellow;
}

.div14
{
    background-color: rgb(165, 137, 243);
}

.div15
{
    background-color: rgb(91, 180, 80);
}

.div16
{
    background-color: rgb(77, 145, 130);
}

.div17
{
    background-color: rgb(22, 236, 182);
}

.div18
{
    background-color: rgb(231, 60, 154);
}

.div19
{
    background-color: greenyellow;
}

.div20
{
    background-color: rgb(236, 150, 22);
}

.div21
{
    background-color: rgb(59, 196, 206);
}

.div22
{
    background-color: rgb(201, 51, 51);
}

.div23
{
    background-color: rgb(113, 3, 117);
}

.div24
{
    background-color: rgb(231, 60, 154);
} */
