:root 
{
    --color_principal: green;
    --color_secundario: yellowgreen;
    --color_terciario: rgb(190, 255, 70);
}

body 
{
    margin: 0;
    font-family: quicksand; 
}

.header_principal
{
    height: 80px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: grid;
    place-items: center;
    color: rgb(131, 2, 30);
}

.caja_principal 
{
    height: 460px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: grid;
    place-items: center;
}

.login 
{
    width: 100%;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    display: grid;
    place-items: center;
}

.form-container
{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}   

.title 
{
    font-size: 1rem;
    justify-self: center;
    margin-bottom: 5px;
}

.subtitle
{
    font-size: 0.8rem;
    justify-self: center;
    margin-top: 0px;
}

.form
{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.label
{
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 4px;
}

.input
{
    background-color: white;
    border: none;
    border-radius: 8px;
    height: 20px;
    font-size: 0.8rem;
    padding: 6px;
}

.primary-button
{
    background-color:rgb(172, 24, 93);
    border-radius: 8px;
    border: none;
    color: white;
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.login-button
{
    margin-top: 14px;
    margin-bottom: 10px; 
}


.logo 
{
    width: 100px;
    margin-bottom: 5px;
    justify-self: center;
}

.footer_principal
{
    height: 80px;
    width: 100%;
    background-color: rgb(153, 13, 55);
}